@media (min-width: 768px) and (max-width: 991px) {
    .consultation {
        padding: 75px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .consultation {
        padding: 65px 0;
        text-align: center;
        &__form {
            margin: 0 auto;
        }
    }
}

@media (max-width: 575px) {
    .consultation {
        min-height: 540px;
        padding: 45px 0;
        text-align: center;
        &__title {
            font-size: 25px;
            line-height: 35px;
        }
        &__text {
            font-size: $fz16;
        }
        &__form {
            margin: 0 auto;
        }
    }
}

@media (max-width: 420px) {
    .consultation {
        &__form {
            width: auto;
        }
    }
}